* {
  font-family: 'Kulim Park', sans-serif;
}

a {
  color: black;
  font-size: 28px;
  text-decoration: none !important;
  background: transparent !important;
}

a:hover {
  color: black !important;
}

a,
button {
  cursor: pointer !important;
  transition: all 0.3s ease-in-out !important;
}

.btn {
  letter-spacing: 2px;
  padding: 10px 40px;
}

.btn-outline-success {
  color: #0E0F46;
  border-color: #0E0F46;
}

.btn-outline-success:hover {
  background-color: #0E0F46;
}

.card {
  padding-top: 300px;
  border: none !important;
}

.card-body {
  position: absolute;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, .125);
  padding-bottom: none !important;
}

.card-body,
p {
  font-size: 15px;
  color: #0E0F46;
}

.container {
  padding-top: 80px;
  text-align: center;
}

.container,
h2 {
  color: #0E0F46;
}

.doc-name {
  font-size: 30px;
  font-weight: 500;
}

.doc-title {
  font-size: 20px;
  font-style: italic;
}

.facts {
  font-size: 20px;
  font-weight: 600;
}

.footer-social i {
  color: #0E0F46;
  padding: 15px 3px;
  ;
  font-size: 18px;
}

.nav-black-bar-top {
  min-width: 100%;
  background-color: #0E0F46;
  height: 75px;
}

.nav-bar-title {
  color: white;
  font-size: 28px;
  float: right;
  padding-right: 50px;
  padding-top: 15px;
}

.rollover-underline-black {
  position: relative;
  color: #000;
  text-decoration: none;
}

.rollover-underline-black:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.rollover-underline-black:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}